{% extends "emails/template_1/base.html" %}

{% block title %}
Sample Email
{% endblock %}

{% block extra_styles %}
<style type="text/css">
 .p_block {
  margin-bottom: 30px;
  margin-top: 30px;
 }

 .team_name {
  color: #7e7e7e;
 }
</style>
{% endblock %}

{% block content %}
<br>
<p><b>Confirm your account</b></p>

<div class="p_block">
 <p>Dear {{name}},</p>
</div>

<div class="p_block">
 <p>Welcome to MyCompany!</p>
</div>

<div class="p_block">
 <p>Please confirm your account by clicking the link below:</p>
</div>

<p>
 <a aria-label="Confirm account" href="{{ btn_link }}" class="ebutton" role="button" target="_blank">
  Confirm account
 </a>
</p>

<div class="p_block">
 <p>Once confirmed, you’ll be able to access all features of your account.</p>
 <p>If you didn’t create an account with us, please ignore this email.</p>
</div>

{% endblock %}