{% extends "emails/template_3/base.html" %}

{% block title %}
Sample Email
{% endblock %}

{% block extra_styles %}
<style type="text/css">
 .p_block {
  margin-bottom: 30px;
  margin-top: 30px;
 }

 .team_name {
  color: #7e7e7e;
 }
</style>
{% endblock %}

{% block content %}
<br>
<p><b>Reset Password</b></p>

<div class="p_block">
 <p>We received a request to reset your MyCompany password.</p>
</div>

<div class="p_block">
 <p>If you made this request, click the link below to choose a new password:</p>
</div>

<p>
 <a aria-label="Change your password" href="{{ btn_link }}" class="ebutton" role="button" target="_blank">
  Change password
 </a>
</p>

<div class="p_block">
 <p>This link will expire in 1 hour for security reasons.</p>
 <p>If you didn’t request a password reset, you can safely ignore this email.</p>
</div>

{% endblock %}